language: node_js
node_js:
- '10'
- node

os:
- linux
- osx

git:
  depth: 1

before_install:
# package-lock.json was introduced in npm@5
- travis_retry npm install -g npm@latest

install:
- travis_retry npm install

script:
- travis_retry npm test
- npm run prettify
- npm run lint