<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>

  This example is based on
  <a href="https://github.com/jantimon/html-webpack-plugin/tree/master/examples/custom-insertion-position">
    custom-insertion-position
  </a>

<%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>